body{
    color: rgb(1, 0, 0);
    background-image: url("assets/images/dark-wood1.jpg");
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin:0;

}


.container{
    width: 950px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(148, 192, 15);
}
header,nav,footer{
    background-color: rgb(255, 191, 0);
    color:rgb(245, 204, 204);
}

.content{
    line-height: 1.4em;
    padding: 10px;
}
nav ul {
    margin: 0;
    padding: 5px;
}

nav ul li {
    display : inline-block;
    margin: 40px;
    text-transform: uppercase;
}

nav li a:link{
    color:rgb(0, 0, 255);
}

nav li a:visited{
    color:rgb(230, 0, 255);
}

nav li a:hover {
    color:rgb(0, 255, 153);
}

nav li a:active{
    color:rgb(157, 255, 0);
}

a{
    color:rgb(255, 0, 0);
    text-decoration:none;
}
h1,h2,h3{
    margin:10px;
    text-transform: uppercase;

}

h1{
    color: rgb(4, 4, 69);
}
h2{
    color: rgb(65, 3, 3);
}
h3{
    color:rgb(4, 62, 1)
}

.img-centre{
    display: block;
    margin: 5px auto;
    padding:2px;
}
audio{
    display:block;
    margin: 10px auto;
}

video{
    display:block;
    margin: 10px auto;
}

table{
    width:800px;
    margin:10px auto;
    border-collapse:collapse;
}

td,th{
    border:1px;
    padding:2px 5px;
    background-color:rgb(3, 3, 86);
}

th table,td tfoot{
    text-transform: uppercase;
    background-color:rgb(4, 4, 104);
    color:rgb(65, 3, 3);

}

dt {
    font-weight:bold; 
}

footer{
    font-size:80%;
    text-align: center;
    padding:1px 0;
}
iframe{
    display:block;
    margin:10px auto;
}

fieldset{
    width: 500px;
    margin: 20px auto ;
    border: 2px solid rgb(0, 0, 255);
    background-color: rgb(0, 255, 217)
    };

legend{
    font-style:italic;
    color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 153);
    margin:0 10px;
    padding:0 5px;
    border-radius: 5px;
}

input[type="submit"]{
    border: 2px solid #01162c;
    padding:5px;
    background-color:rgb(245, 204, 204);
    color:rgb(0, 255, 217);
 
}

input[type="submit"]:hover{
    color:rgb(0, 255, 217) ;
    background-color:rgb(245, 204, 204);
    cursor:pointer;
}

#liste {
    list-style-type: decimal;
} 

